[submodule "node_modules/josi-team"]
	path = node_modules/josi-team
	url = git@github.com:jollyscience/josi-team.git
[submodule "node_modules/josi-access"]
	path = node_modules/josi-access
	url = git@github.com:jollyscience/josi-access.git
[submodule "node_modules/josi-admin"]
	path = node_modules/josi-admin
	url = git@github.com:jollyscience/josi-admin.git
[submodule "node_modules/josi-auth"]
	path = node_modules/josi-auth
	url = git@github.com:jollyscience/josi-auth.git
[submodule "node_modules/josi-aware"]
	path = node_modules/josi-aware
	url = git@github.com:jollyscience/josi-aware.git
[submodule "node_modules/josi-memory"]
	path = node_modules/josi-memory
	url = git@github.com:jollyscience/josi-memory.git
[submodule "node_modules/josi-plan"]
	path = node_modules/josi-plan
	url = git@github.com:jollyscience/josi-plan.git
[submodule "node_modules/josi-routes"]
	path = node_modules/josi-routes
	url = git@github.com:jollyscience/josi-routes.git
[submodule "node_modules/josi-seek"]
	path = node_modules/josi-seek
	url = git@github.com:jollyscience/josi-seek.git
[submodule "node_modules/josi-speech"]
	path = node_modules/josi-speech
	url = git@github.com:jollyscience/josi-speech.git
[submodule "node_modules/josi-state"]
	path = node_modules/josi-state
	url = git@github.com:jollyscience/josi-state.git
